/* .btn1{
    position: sticky;
    bottom: 0;
    right: 0;
   
  }
  .btn1>button{
    padding: 10px;
    border: 1px solid;
    float: right;
    margin-right: -6%;
    margin-top: -10%;
    
  } */