/* div {
    width: 100%;
    margin: auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  h3 {
    color: #007bff;
    margin-bottom: 5px;
  } */
  
  p {
    color: #555;
    margin: 0;
    line-height: 1.5;
  }
  
  /* div > div {
    background: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    
  } */

 /* .container {
    max-width: 800px;
    margin: auto;
    text-align: center;
  } */
  
   .questions-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .question-box {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .question-box h3 {
    margin: 0 0 10px;
    color: #333;
  }
  
  .question-box p {
    margin: 0;
    font-size: 16px;
    color: #555;
  }

  /* .btn1{
    position: sticky;
    bottom: 0;
    right: 0;
   
  }
  .btn1>button{
    padding: 10px;
    border: 1px solid;
    float: right;
    margin-right: -6%;
    margin-top: -10%;
  } */